interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/orgs/OCA/repos?per_page=100
  response:
    body:
      string: '[{"id":574124203,"node_id":"R_kgDOIjhwqw","name":"repo-maintainer","full_name":"OCA/repo-maintainer","private":false,"owner":{"login":"OCA","id":119798021,"node_id":"O_kgDOByP5BQ","avatar_url":"https://avatars.githubusercontent.com/u/119798021?v=4","gravatar_id":"","url":"https://api.github.com/users/OCA","html_url":"https://github.com/OCA","followers_url":"https://api.github.com/users/OCA/followers","following_url":"https://api.github.com/users/OCA/following{/other_user}","gists_url":"https://api.github.com/users/OCA/gists{/gist_id}","starred_url":"https://api.github.com/users/OCA/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/OCA/subscriptions","organizations_url":"https://api.github.com/users/OCA/orgs","repos_url":"https://api.github.com/users/OCA/repos","events_url":"https://api.github.com/users/OCA/events{/privacy}","received_events_url":"https://api.github.com/users/OCA/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/OCA/repo-maintainer","description":null,"fork":false,"url":"https://api.github.com/repos/OCA/repo-maintainer","forks_url":"https://api.github.com/repos/OCA/repo-maintainer/forks","keys_url":"https://api.github.com/repos/OCA/repo-maintainer/keys{/key_id}","collaborators_url":"https://api.github.com/repos/OCA/repo-maintainer/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/OCA/repo-maintainer/teams","hooks_url":"https://api.github.com/repos/OCA/repo-maintainer/hooks","issue_events_url":"https://api.github.com/repos/OCA/repo-maintainer/issues/events{/number}","events_url":"https://api.github.com/repos/OCA/repo-maintainer/events","assignees_url":"https://api.github.com/repos/OCA/repo-maintainer/assignees{/user}","branches_url":"https://api.github.com/repos/OCA/repo-maintainer/branches{/branch}","tags_url":"https://api.github.com/repos/OCA/repo-maintainer/tags","blobs_url":"https://api.github.com/repos/OCA/repo-maintainer/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/OCA/repo-maintainer/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/OCA/repo-maintainer/git/refs{/sha}","trees_url":"https://api.github.com/repos/OCA/repo-maintainer/git/trees{/sha}","statuses_url":"https://api.github.com/repos/OCA/repo-maintainer/statuses/{sha}","languages_url":"https://api.github.com/repos/OCA/repo-maintainer/languages","stargazers_url":"https://api.github.com/repos/OCA/repo-maintainer/stargazers","contributors_url":"https://api.github.com/repos/OCA/repo-maintainer/contributors","subscribers_url":"https://api.github.com/repos/OCA/repo-maintainer/subscribers","subscription_url":"https://api.github.com/repos/OCA/repo-maintainer/subscription","commits_url":"https://api.github.com/repos/OCA/repo-maintainer/commits{/sha}","git_commits_url":"https://api.github.com/repos/OCA/repo-maintainer/git/commits{/sha}","comments_url":"https://api.github.com/repos/OCA/repo-maintainer/comments{/number}","issue_comment_url":"https://api.github.com/repos/OCA/repo-maintainer/issues/comments{/number}","contents_url":"https://api.github.com/repos/OCA/repo-maintainer/contents/{+path}","compare_url":"https://api.github.com/repos/OCA/repo-maintainer/compare/{base}...{head}","merges_url":"https://api.github.com/repos/OCA/repo-maintainer/merges","archive_url":"https://api.github.com/repos/OCA/repo-maintainer/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/OCA/repo-maintainer/downloads","issues_url":"https://api.github.com/repos/OCA/repo-maintainer/issues{/number}","pulls_url":"https://api.github.com/repos/OCA/repo-maintainer/pulls{/number}","milestones_url":"https://api.github.com/repos/OCA/repo-maintainer/milestones{/number}","notifications_url":"https://api.github.com/repos/OCA/repo-maintainer/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/OCA/repo-maintainer/labels{/name}","releases_url":"https://api.github.com/repos/OCA/repo-maintainer/releases{/id}","deployments_url":"https://api.github.com/repos/OCA/repo-maintainer/deployments","created_at":"2022-12-04T14:01:03Z","updated_at":"2023-09-22T15:04:03Z","pushed_at":"2023-09-29T16:54:28Z","git_url":"git://github.com/OCA/repo-maintainer.git","ssh_url":"git@github.com:OCA/repo-maintainer.git","clone_url":"https://github.com/OCA/repo-maintainer.git","svn_url":"https://github.com/OCA/repo-maintainer","homepage":null,"size":73,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"has_discussions":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"agpl-3.0","name":"GNU
        Affero General Public License v3.0","spdx_id":"AGPL-3.0","url":"https://api.github.com/licenses/agpl-3.0","node_id":"MDc6TGljZW5zZTE="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":2,"open_issues":1,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"disabled"}}},{"id":695505811,"node_id":"R_kgDOKXSTkw","name":".github","full_name":"OCA/.github","private":false,"owner":{"login":"OCA","id":119798021,"node_id":"O_kgDOByP5BQ","avatar_url":"https://avatars.githubusercontent.com/u/119798021?v=4","gravatar_id":"","url":"https://api.github.com/users/OCA","html_url":"https://github.com/OCA","followers_url":"https://api.github.com/users/OCA/followers","following_url":"https://api.github.com/users/OCA/following{/other_user}","gists_url":"ht[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/orgs/OCA/teams/board
  response:
    body:
      string: '{"name":"board","id":7089887,"node_id":"T_kwDOByP5Bc4AbC7f","slug":"board","description":"","privacy":"closed","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/119798021/team/7089887","html_url":"https://github.com/orgs/OCA/teams/board","members_url":"https://api.github.com/organizations/119798021/team/7089887/members{/member}","repositories_url":"https://api.github.com/organizations/119798021/team/7089887/repos","permission":"pull","created_at":"2022-12-04T14:02:22Z","updated_at":"2022-12-04T14:02:22Z","members_count":2,"repos_count":7,"organization":{"login":"OCA","id":119798021,"node_id":"O_kgDOByP5BQ","url":"https://api.github.com/orgs/OCA","repos_url":"https://api.github.com/orgs/OCA/repos","events_url":"https://api.github.com/orgs/OCA/events","hooks_url":"https://api.github.com/orgs/OCA/hooks","issues_url":"https://api.github.com/orgs/OCA/issues","members_url":"https://api.github.com/orgs/OCA/members{/member}","public_members_url":"https://api.github.com/orgs/OCA/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/119798021?v=4","description":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":7,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/OCA","created_at":"2022-12-04T14:00:16Z","updated_at":"2022-12-04T14:19:49Z","archived_at":null,"type":"Organization"},"parent":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6901b72a23cb9084a6361c93292e632962e2cd7ef9ac079b06a3f27501707878"
      Last-Modified:
      - Sun, 04 Dec 2022 14:02:22 GMT
      X-Accepted-OAuth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - admin:org, repo, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4997'
      X-RateLimit-Reset:
      - '1696151655'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '3'
      github-authentication-token-expiration:
      - 2023-12-22 13:07:17 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/OCA/test-repo-1
  response:
    body:
      string: '{"id":695845928,"node_id":"R_kgDOKXnEKA","name":"test-repo-1","full_name":"OCA/test-repo-1","private":false,"owner":{"login":"OCA","id":119798021,"node_id":"O_kgDOByP5BQ","avatar_url":"https://avatars.githubusercontent.com/u/119798021?v=4","gravatar_id":"","url":"https://api.github.com/users/OCA","html_url":[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/OCA/test-repo-1/branches?per_page=100
  response:
    body:
      string: '[{"name":"15.0","commit":{"sha":"b6e10310a7ba6ee4399a2521ea9d46dd5d6c84c0","url":"https://api.github.com/repos/OCA/test-repo-1/commits/b6e10310a7ba6ee4399a2521ea9d46dd5d6c84c0"},"protected":false,"protection":{"enabled":false,"required_status_checks":{"enforcement_level":"off","contexts":[],"checks":[]}},"protection_url":"https://api.github.com/repos/OCA/test-repo-1/branches/15.0/protection"},{"name":"16.0","commit":{"sha":"fff8cd8975eda2c03d6a9860146d0b4ae28d20b8","url":"https://api.github.com/repos/OCA/test-repo-1/commits/fff8cd8975eda2c03d6a9860146d0b4ae28d20b8"},"protected":false,"protection":{"enabled":false,"required_status_checks":{"enforcement_level":"off","contexts":[],"checks":[]}},"protection_url":"https://api.github.com/repos/OCA/test-repo-1/branches/16.0/protection"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7387e687f19960defcf6f8e857388817295a3f155c82438fab52b94f9409b4cc"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=loki-preview; format=json
      X-OAuth-Scopes:
      - admin:org, repo, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4995'
      X-RateLimit-Reset:
      - '1696151655'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '5'
      github-authentication-token-expiration:
      - 2023-12-22 13:07:17 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/orgs/OCA/teams/test-team-1
  response:
    body:
      string: '{"name":"test-team-1","id":8630739,"node_id":"T_kwDOByP5Bc4Ag7HT","slug":"test-team-1","description":null,"privacy":"closed","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/119798021/team/8630739","html_url":"https://github.com/orgs/OCA/teams/test-team-1","memb[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/organizations/119798021/team/8630739/repos?per_page=100
  response:
    body:
      string: '[{"id":695845928,"node_id":"R_kgDOKXnEKA","name":"test-repo-1","full_name":"OCA/test-repo-1","private":false,"owner":{"login":"OCA","id":119798021,"node_id":"O_kgDOByP5BQ","avatar_url":"https://avatars.githubusercontent.com/u/119798021?v=4","gravatar_id":"","url":"https://ap[...]
[...]
- request:
    body: '{"name": "test-repo-2", "description": "test-repo-2", "homepage": "", "private":
      false, "has_issues": true, "has_wiki": true, "license_template": "", "auto_init":
      false, "gitignore_template": "", "has_projects": true, "team_id": 7089887}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/orgs/OCA/repos
  response:
    body:
      string: '{"id":698869079,"node_id":"R_kgDOKaflVw","name":"test-repo-2","full_name":"OCA/test-repo-2","private":false,"owner":{"login":"OCA","id":119798021,"node_id":"O_kgDOByP5BQ","avatar_url":"https://avatars.githubusercontent.com/u/119798021?v=4","gravatar_id":"","url":"https://api.github.com/users/OCA","html_url":"https://github.com/O[...]
[...]
- request:
    body: '{"permission": "push"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.github.com/organizations/119798021/team/8630747/repos/OCA/test-repo-2
  response:
    body:
      string: ''
    headers:
      X-Accepted-OAuth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - admin:org, repo, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4988'
      X-RateLimit-Reset:
      - '1696151655'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '12'
      github-authentication-token-expiration:
      - 2023-12-22 13:07:17 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.github.com/repos/OCA/test-repo-2/collaborators/simahawk
  response:
    body:
      string: ''
    headers:
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - admin:org, repo, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4987'
      X-RateLimit-Reset:
      - '1696151655'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '13'
      github-authentication-token-expiration:
      - 2023-12-22 13:07:17 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/user
  response:
    body:
      string: '{"login":"simahawk","id":347149,"node_id":"MDQ6VXNlcjM0NzE0OQ==","avatar_url":"https://avatars.githubusercontent.com/u/347149?v=4","gravatar_id":"","url":"https://api.github.com/users/simahawk","html_url":"https://github.com/simahawk","followers_url":"https://api.github.com/users/simahawk/followers","following_url":"https://api.github.com/users/simahawk/following{/other_user}","gists_url":"https://api.github.com/users/simahawk/gists{/gist_id}","starred_url":"https://api.github.com/users/simahawk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simahawk/subscriptions","organizations_url":"https://api.github.com/users/simahawk/orgs","repos_url":"https://api.github.com/users/simahawk/repos","events_url":"https://api.github.com/users/simahawk/events{/privacy}","received_events_url":"https://api.github.com/users/simahawk/received_events","type":"User","site_admin":false,"name":"Simone
        Orsi","company":"@OCA @camptocamp","blog":"","location":"Rome","email":null,"hireable":null,"bio":"Full
        stack senior python developer in love with open source.\r\nOCA board member.","twitter_username":null,"public_repos":132,"public_gists":40,"followers":88,"following":1,"created_at":"2010-07-28T16:13:38Z","updated_at":"2023-05-28T19:42:02Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b7b06176be391be7e250cee63f9df0ef934733b61bfc25170209bb8f8b53ae86"
      Last-Modified:
      - Sun, 28 May 2023 19:42:02 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=full; format=json
      X-OAuth-Scopes:
      - admin:org, repo, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4986'
      X-RateLimit-Reset:
      - '1696151655'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '14'
      github-authentication-token-expiration:
      - 2023-12-22 13:07:17 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: "https://api.github.com/repos/OCA/test-repo-1/collaborators?affiliation=all&per_page=100"
  response:
    body:
      string: '[{"login": "simahawk", "id": 987654, "node_id": "U_abc", "avatar_url": "https://avatars.githubusercontent.com/u/987654?v=4", "gravatar_id": "", "url": "https://api.github.com/users/simahawk", "html_url": "https://github.com/simahawk", "followers_url": "https://api.github.com/users/simahawk/followers", "following_url": "https://api.github.com/users/simahawk/following{/other_user}", "gists_url": "https://api.github.com/users/simahawk/gists{/gist_id}", "starred_url": "https://api.github.com/users/simahawk/starred{/owner}{/repo}", "subscriptions_url": "https://api.github.com/users/simahawk/subscriptions", "organizations_url": "https://api.github.com/users/simahawk/orgs", "repos_url": "https://api.github.com/users/simahawk/repos", "events_url": "https://api.github.com/users/simahawk/events{/privacy}", "received_events_url": "https://api.github.com/users/simahawk/received_events", "type": "User", "user_view_type": "public", "site_admin": false, "permissions": {"admin": false, "maintain": true, "push": true, "triage": true, "pull": true}, "role_name": "maintain"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK

[...]
- request:
    body: 
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.github.com/repos/OCA/test-repo-2/collaborators/etobella
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.github.com/repos/OCA/test-repo-2/collaborators/petrus-v
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK

- request:
    body: 
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.github.com/repos/OCA/test-repo-1/collaborators/simahawk
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK

version: 1
